<header class="header">
    <img class="logo" src="./assets/img/IO SPINE logo 1.png" alt="io-spine logo">
    <fa-icon class="icon"  [icon]="faBars"></fa-icon>
    <nav class="navigation">
        <ul>
            <li>Home</li>
            <li>Academy</li>
            <li>ICT Solutions</li>
            <li>Marketplace</li>
            <li>Staff Products</li>
        </ul>
    </nav>

    <nav  class="mobile-navigation">
        <i class="fa-solid fa-xmark"></i>
        <ul class="top-nav-ul">
            <li>Home</li>
            <li>Academy</li>
            <li>ICT Solutions</li>
            <li>Marketplace</li>
            <li>Staff Products</li>
        </ul>
    </nav>
</header>
