<header class="header">
    <img class="logo" src="./assets/img/IO SPINE logo 1.png" alt="io-spine logo">
    <fa-icon (click)="toggleMobileNav()" class="icon"  [icon]="faBars"></fa-icon>
    <nav class="navigation">
        <ul>
            <li>Home</li>
            <li>Academy</li>
            <li>ICT Solutions</li>
            <li>Marketplace</li>
            <li>Staff Products</li>
        </ul>
    </nav>

    <nav *ngIf="show"  class="mobile-navigation">
        <fa-icon (click)="toggleMobileNav()" class="fa-xmark"  [icon]="faXmark"></fa-icon>
        <ul class="top-nav-ul">
            <li>Home</li>
            <li>Academy</li>
            <li>ICT Solutions</li>
            <li>Marketplace</li>
            <li>Staff Products</li>
        </ul>
    </nav>
</header>
